@using GridMvc.Html



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
 
</head>
<body>
    <div> 

        <h2>Controle de Feriados</h2>

        @Html.ActionLink("Cadastrar Novo", "CadastroDiaNaoUtil", "DiaNaoUtil", "", new {@Class="btn btn-primary" })

        @Html.Grid(new RegistroHoras.DATA.classes.business.DiaNaoUtilBO().GetAll()).Columns(c =>
        {
            c.Add(f => f.Nome).Titled("Nome");
            c.Add(f => f.Dia).Titled("Dia");
            c.Add().Titled("Mês").RenderValueAs(d=> System.Globalization.DateTimeFormatInfo.CurrentInfo.GetMonthName(d.Mes));
            c.Add(f => f.Ano).Titled("Ano");
            c.Add().Encoded(false).Sanitized(false).RenderValueAs(d => @Html.ActionLink("editar", "Editar", new { registro = d.Registro }));
            c.Add().Encoded(false).Sanitized(false).RenderValueAs(d => @Html.ActionLink("excluir", "Excluir", new { registro = d.Registro }, new { @onclick = "return Confirm('Deseja realmente excluir este registro?')" }));
        }).EmptyText("Nenhum registro localizado")


    </div>
</body>
</html>
