@model int
@{
    int[] anosRegistrados = new RegistroHoras.DATA.classes.business.RegistroHorasBO().RegistroHorasColaborador(Model).Select(r=>r.entrada.Year).Distinct().ToArray();
}


<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@using (Ajax.BeginForm("ConsutaBancoHorasAno", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "divResultado",
    HttpMethod = "GET"

}))
{//inicio form

    <div class="row">


        <h3>Consultar Banco de Horas</h3>

        <div class="form-group form-inline">
            <label>Ano referência</label>
            @Html.DropDownList("ano", new SelectList(anosRegistrados), "---")
            <input type="submit" class="btn btn-default" value="Consultar" />
            @Html.Hidden("colaborador", Model)
        </div>
    </div>




    <div id="divResultado">

    </div>
    //fim form
}
